
.bkpk_hidden {
    display:none;
}

.bkpk_label_top {
    display: block;
    font-weight: bold; 
}

.bkpk_label_left {
    display: inline;
    font-weight: bold;
    float: left;
    width: 140px;
    margin-right: 10px;   
}

.bkpk_label_right {
    display: inline;
    font-weight: bold;
    float:right;
    width: 140px;
    margin-left: 10px;      
}

.bkpk_label_inline {
    display: inline;
    font-weight: bold;  
}

.bkpk_left_margin {
    margin-left: 150px;
}

.bkpk_half_width {
    float: left;
    width: 50%;
}

.bkpk_inline {
    display: inline;
}

.bkpk_field_container.bkpk_inline label.bkpk_label_inline {
	margin-right: 10px;
}

.bkpk_field_container.bkpk_inline span.bkpk_description {
    margin-left: 10px;
}

.bkpk_get_button {    
    width: 150px;
    height: 43px;
    background-image: url('../images/button.png');
}

#bkpk_admin_content {
    width: 73%;
    float: left;
}

#bkpk_admin_sidebar {
    width: 25%;
    float: right;
}

#bkpk_fields_container {
    /*padding: 2%;
    border: 2px dotted #fff09f;
    background: #fffef5;    */
}

.bkpk_input {
    width: 300px;
}

input[type='checkbox'].bkpk_input,input[type='radio'].bkpk_input {
    width: auto;
}

.bkpk_segment {
    display: inline-block;
    width: 33%;
    padding-bottom: 20px;
}

.bkpk_field_selecor {
    display: inline-block;
    width: 30%;
    margin: 1% !important;
    /*padding: 2% !important;*/
    text-align: center;
}

.bkpk_add_button {
    cursor: pointer;
}

.bkpk_left {
    float: left;
}

.bkpk_right {
    float: right;
}

.bkpk_clear {
    clear:both;
}

.bkpk_block_title {
    font-weight: bold;
    padding: 10px;
}

.bkpk_required {
    color: red;
}

.bkpk_selected_fields {
    /*background-color: blue;*/
    width: 50%;
    min-height: 300px;
    height:  auto;
}

.bkpk_availabele_fields {
    /*background-color: red;*/
    width: 40%;
    height: 300px;
}

.bkpk_dropme {
    padding: 5px;
    border: 2px dotted #fff09f;
    background: #fffef5;
    overflow: auto;
}

.bkpk_dropme div {
    padding: 10px;
    margin: 10px;
    width: 80%;
    cursor: move;
}

.bkpk_highlight {
    padding: 5px;
    border: 2px dotted #5b6967;
}

.bkpk_block_title {
    margin: 0 auto;
    display: block;
}

.bkpk_description {
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 12px;
    color: #666;
    font-weight: normal;
    text-align: left;
    font-style: normal;    
}

#bkpk_resetpassword_form {
    border: 1px solid gray;
    padding: 15px 0px 0px 185px;
    background: aliceblue;
    clear: both;
}

#bkpk_resetpassword_form h2 {
    font-size: 25px;
    color: blue;
}

.bkpk_import_div {
    padding-left: 40px;   
    background: url(../images/bkpk_line.png) repeat-y left;
    min-height: 170px;
}

.placeholder {
    color: #aaa;
}

.bkpk_field_container {
    margin: 10px 0;
}

.bkpk_button {
    margin: 10px 0;
}

.ui-progressbar-value {
    background-image: url( '../images/pbar-ani.gif' );
}

.bkpk_shadow_box {
	color: #555;
	border-color: #cccccc;
	background: #f7f7f7;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
 	vertical-align: top;
}

.bkpk_remove_file span {
    background: url('../images/trash.png') no-repeat left center;
    min-width: 27px;
    min-height: 30px;
    padding-left: 25px;
    cursor: pointer;
}

/** pf **/

.pf_trash {
    float: right;
    background: url('../images/trash.png') no-repeat center center;
    width: 27px;
    height: 30px;
    padding: 2px;
    cursor: pointer;
}

.pf_label {
    display: block;
    font-weight: bold;
    padding: 5px;
}

.pf_loading {
    background:url(../images/pf_loading.gif) no-repeat;
    margin:  10px; 
}

.pf_loading_fb {
    background:url(../images/pf_loading.gif) no-repeat;
    margin:  10px; 
}

.pf_required {
    color: red;
}

.pf_divider {
    margin: 10px 0; 
    background-color: #fff; 
    height: 1px; 
    overflow: hidden; 
    border-top: 1px solid #E6E6E6; 
    border-bottom: 1px solid #fff; 
    clear: both;
}

/* Various Message */
.pf_info, .pf_success, .pf_warning, .pf_error, .pf_validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.pf_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/info.png');
}

.pf_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}

.pf_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}

.pf_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}

.pf_validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('../images/validation.png');
}
/* End Various Message */


/* timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
/* End timepicker */

/* Password strength */
.password_strength {
    margin: 0 5px;
	padding: 0 5px;
	display: inline-block;
}
    
.password_strength_1 { background-color: #fcb6b1; }
.password_strength_2 { background-color: #fccab1; }
.password_strength_3 { background-color: #fcfbb1; }
.password_strength_4 { background-color: #dafcb1; }
.password_strength_5 { background-color: #bcfcb1; }
/* End Password strength */

.pf_left {
    float: left;
}

.pf_right {
    float: right;
}

.pf_width_10 {
    width: 10%;
    padding: 2px;    
}

.pf_width_20 {
    width: 20%;
    padding: 2px;    
}

.pf_width_25 {
    width: 25%; 
}

.pf_width_30 {
    width: 30%;
    padding: 2px;    
}

.pf_width_40 {
    width: 40%;
    padding: 2px;    
}

.pf_width_50 {
    width: 50%;
    padding: 2px;    
}

.pf_width_60 {
    width: 60%;
    padding: 2px;    
}

.pf_width_70 {
    width: 70%;
    padding: 2px;    
}

.pf_width_73 {
    width: 73%;
    padding: 2px;    
}

.pf_width_75 {
    width: 75%;
    padding: 2px;    
}

.pf_width_80 {
    width: 80%;
    padding: 2px;    
}


.pf_blure {
    opacity: .5;
    filter: alpha(opacity=50);
}

#wpbody-content .metabox-holder {
    padding-top: 0px;
}



.bkpk_field_single .panel-heading, .panel-default > .panel-heading {
    color: #ffffff;
    background-color: #2980b9;
    border-color: #2980b9;
}

.panel .panel-heading {
    cursor: pointer;
}

.bkpk_field_single .panel-heading {
    cursor: move;
}

.bkpk_field_single .panel-heading .panel-title i {
    cursor: pointer;
}

.panel .panel-heading .panel-title i {
    float:right;
}

.bkpk_pills.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #999 !important;
}

ul.multiselect-container > li {
    margin-bottom: 0 !important;
}

#bkpk_fields_selectors .panel-body .btn-default {
    background-color: #f5f5f5;
}

#bkpk_fields_selectors .panel-body .btn-info {
    color: #333;
    background-color: #d9edf7;
}

.bkpk_selector_options .bkpk_plusminus_rows_holder .bkpk_plusminus_row:hover { 
    background-color: #f5f5f5;
    cursor: move;
}